.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}
.home-text100 {
  width: var(--dl-size-size-medium);
  display: inline-block;
  font-size: 13px;
  font-family: "Jost";
  font-weight: 600;
}
.home-text101 {
  font-size: 18px;
}
.home-text102 {
  font-size: 15px;
}
.home-text103 {
  width: var(--dl-size-size-medium);
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.home-text104 {
  width: var(--dl-size-size-medium);
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.home-text105 {
  width: var(--dl-size-size-medium);
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.home-text106 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text107 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text108 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text109 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text110 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text111 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home-text112 {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.home-logo-center {
  top: 25px;
  left: 53px;
  display: inline-block;
  position: absolute;
  align-self: flex-start;
  font-style: normal;
  font-family: "Jost";
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
}
.home-text113 {
  letter-spacing: 1px;
}
.home-text115 {
  color: var(--dl-color-gray-black);
  height: auto;
  display: inline-block;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-hero1 {
  height: 468px;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-pallet-green);
}
.home-max-width1 {
  max-width: 1032px;
}
.home-hero2 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: space-between;
  flex-direction: column;
}
.home-container3 {
  width: 471px;
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-text116 {
  color: var(--dl-color-gray-black);
  font-size: 32px;
  max-width: auto;
  font-family: "Jost";
  font-weight: 500;
  line-height: 40px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  letter-spacing: 0.16em;
  text-transform: uppercase;
  text-decoration: none;
}
.home-text117 {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.12em;
}
.home-text118 {
  font-weight: 700;
  letter-spacing: 0.12em;
}
.home-text119 {
  font-weight: 700;
  letter-spacing: 0.12em;
}
.home-text120 {
  font-weight: 700;
  letter-spacing: 0.12em;
}
.home-text121 {
  font-style: normal;
}
.home-text122 {
  font-size: 18px;
  font-style: normal;
  font-family: "Jost";
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-navlink1 {
  width: var(--dl-size-size-xlarge);
  box-shadow: 5px 5px 10px 0px #b55f2e;
  border-radius: var(--dl-radius-radius-buttonradius);
  padding-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
  background-color: #27d477;
}
.home-text123 {
  font-size: 23px;
  text-align: center;
  text-transform: capitalize;
}
.home-image {
  top: -64px;
  right: -539px;
  width: 100%;
  position: absolute;
  max-width: 579px;
  box-shadow: 10px 10px 12px 0px #292828,5px 5px 10px 0px #d4d4d4;
  box-sizing: border-box;
  max-height: 579px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  border-radius: 30px;
}
.home-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-twounits);
  flex-wrap: wrap;
  max-width: 1080px;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-text126 {
  display: inline-block;
  line-height: 14px;
}
.home-text130 {
  display: inline-block;
  line-height: 14px;
}
.home-text131 {
  display: inline-block;
  line-height: 14px;
}
.home-text132 {
  display: inline-block;
  line-height: 14px;
}
.home-text133 {
  display: inline-block;
  line-height: 14px;
}
.home-text134 {
  display: inline-block;
  line-height: 14px;
}
.home-text135 {
  display: inline-block;
  line-height: 14px;
}
.home-banner {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-950);
}
.home-container4 {
  flex: 0 0 auto;
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-text136 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text137 {
  color: var(--dl-color-gray-black80);
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  font-family: "Arial";
  font-weight: 400px;
  line-height: 175%;
  padding-top: var(--dl-space-space-halfunit);
  font-stretch: normal;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-text138 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text139 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text140 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: "Jost";
  line-height: 175%;
}
.home-text141 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text143 {
  font-size: 24px;
  font-family: "Jost";
  font-weight: 500;
  line-height: 150%;
}
.home-text144 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text145 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text146 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text147 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: "Jost";
  line-height: 175%;
}
.home-text148 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text149 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text150 {
  font-size: 24px;
  font-style: normal;
  font-family: "Jost";
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.home-text151 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: "Jost";
  line-height: 175%;
  letter-spacing: 1px;
}
.home-text152 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text153 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text154 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: "Jost";
  line-height: 175%;
}
.home-text155 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text156 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text157 {
  font-size: 24px;
  font-family: "Jost";
  text-transform: uppercase;
}
.home-text158 {
  font-size: 24px;
  font-style: normal;
  font-family: "Jost";
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.home-text159 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: "Jost";
  line-height: 175%;
  letter-spacing: 1px;
}
.home-text160 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text161 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text162 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text163 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text164 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text165 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text166 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text167 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text168 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: "Jost";
  line-height: 175%;
}
.home-text169 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text170 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text171 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
  text-transform: uppercase;
}
.home-text172 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.home-text173 {
  font-family: "Jost";
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.home-text174 {
  font-size: 24px;
  font-family: "Jost";
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.home-text175 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: "Jost";
  line-height: 175%;
}
.home-text176 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text177 {
  font-style: normal;
  font-family: "Jost";
  line-height: 150%;
}
.home-text178 {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: underline;
}
.home-text179 {
  display: inline-block;
  font-family: "Jost";
}
.home-text180 {
  display: inline-block;
  font-family: "Jost";
}
.home-text185 {
  display: inline-block;
  font-family: "Jost";
}
.home-text190 {
  display: inline-block;
  font-family: "Jost";
}
.home-text195 {
  font-family: "Jost";  
  display: inline-block;
}
.home-text196 {
  font-family: "Jost";
  display: inline-block;
}
.home-text197 {
  font-family: "Jost";
  display: inline-block;
}
.home-text198 {
  display: inline-block;
  font-family: "Jost";
}
.home-text199 {
  display: inline-block;
  font-family: "Jost";
}
.home-text200 {
  display: inline-block;
  font-family: "Jost";
}
.home-text201 {
  display: inline-block;
  font-family: "Jost";
}
.home-text202 {
  display: inline-block;
  font-family: "Jost";
}
.home-text203 {
  display: inline-block;
  font-family: "Jost";
  text-decoration: underline;
}
.home-text204 {
  display: inline-block;
  font-family: "Jost";
  text-decoration: underline;
}
.home-text205 {
  display: inline-block;
  font-family: "Jost";
  text-decoration: underline;
}
.home-text206 {
  display: inline-block;
  font-family: "Jost";
  text-decoration: underline;
}
.home-text207 {
  display: inline-block;
  font-family: "Jost";
}
.home-text208 {
  display: inline-block;
  font-family: "Jost";
}
.home-text209 {
  display: inline-block;
  font-family: "Jost";
}
.home-text210 {
  display: inline-block;
  font-family: "Jost";
}
.home-text211 {
  color: var(--dl-color-gray-black);
  display: inline-block;
  font-family: "Jost";
}
.home-text212 {
  display: inline-block;
  font-family: "Jost";
}
.home-text213 {
  color: rgb(0, 0, 0);
  display: inline-block;
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.home-text214 {
  display: inline-block;
  margin-top: var(--dl-space-space-twounits);
}
.home-text215 {
  display: inline-block;
  margin-top: 12px;
}
.home-text217 {
  color: var(--dl-color-gray-black50);
}
.home-text220 {
  color: var(--dl-color-gray-black50);
}
.home-text222 {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.home-text223 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text224 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text225 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text226 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text227 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text228 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
}
.home-text229 {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.home-text230 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text231 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text232 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text233 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text234 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
}
.home-text235 {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.home-text236 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text237 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text239 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.home-navlink3 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text240 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-halfunit);
}
@media(max-width: 991px) {
  .home-text115 {
    margin-left: 0px;
  }
  .home-hero2 {
    flex-direction: column;
  }
  .home-container3 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-text116 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-main {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-hero1 {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-hero2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-cards-container {
    grid-gap: var(--dl-space-space-unit);
  }
  .home-text137 {
    max-width: 770px;
  }
}
@media(max-width: 479px) {
  .home-container1 {
    padding-top: 55px;
  }
  .home-hero2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container3 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
