.model-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.model-text10 {
  width: var(--dl-size-size-medium);
  display: inline-block;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}
.model-text11 {
  width: var(--dl-size-size-medium);
  display: inline-block;
}
.model-text12 {
  width: var(--dl-size-size-medium);
  display: inline-block;
}
.model-text13 {
  width: var(--dl-size-size-medium);
  display: inline-block;
}
.model-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.model-text15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.model-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.model-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.model-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.model-text19 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.model-text20 {
  display: inline-block;
}
.model-logo-center {
  top: 25px;
  left: 53px;
  display: inline-block;
  position: absolute;
  align-self: flex-start;
  font-style: normal;
  font-family: "Jost";
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
}
.model-text21 {
  letter-spacing: 1px;
}
.model-text23 {
  color: var(--dl-color-gray-black);
  height: auto;
  display: inline-block;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.model-hero {
  height: 468px;
  position: relative;
  align-self: flex-start;
  margin-top: var(--dl-space-space-sixunits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  padding-top: 0px;
  margin-right: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-secondary1);
}
.model-contents {
  width: 100%;
  height: 342px;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-sixunits);
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-sixunits);
}
.model-contentstexty {
  flex: 0 0 auto;
  width: 566px;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.model-title {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.model-container11 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.model-text24 {
  width: var(--dl-size-size-xxlarge);
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}
.model-name {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.model-question {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.model-answer {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.model-text26 {
  max-width: 20%;
}
.model-description {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
}
.model-container12 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.model-text27 {
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.model-container13 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
.model-text28 {
  width: auto;
  height: auto;
  max-width: 16%;
}
.model-nofloors {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
}
.model-container14 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.model-text29 {
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.model-container15 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.model-text30 {
  max-width: 20%;
}
.model-norooms {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
}
.model-container16 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.model-container17 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.model-text32 {
  max-width: 20%;
}
.model-material-select {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
}
.model-container18 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.model-text33 {
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.model-select {
  margin-left: var(--dl-space-space-halfunit);
}
.model-calculate-price {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.model-button {
  width: var(--dl-size-size-xlarge);
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-unit);
}
.model-price-estimate {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
}
.model-container19 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.model-text34 {
  margin-left: var(--dl-space-space-oneandhalfunits);
}
.model-container20 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.model-text35 {
  max-width: 20%;
}
.model-model {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.model-image {
  top: -23px;
  right: 0px;
  width: 100%;
  margin: auto;
  position: absolute;
  max-width: 579px;
  box-sizing: border-box;
  margin-top: 0px;
  max-height: 579px;
  object-fit: cover;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: transparent;
}
.model-text36 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.model-text39 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-top: var(--dl-space-space-twounits);
}
.model-text40 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-top: 12px;
}
.model-text42 {
  color: var(--dl-color-gray-black50);
}
.model-text45 {
  color: var(--dl-color-gray-black50);
}
.model-text47 {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.model-text48 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.model-text49 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.model-text50 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.model-text51 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.model-text52 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.model-text53 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
}
.model-text54 {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.model-text55 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.model-text56 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.model-text57 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.model-text58 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.model-text59 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
}
.model-text60 {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.model-text61 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.model-text62 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.model-text63 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.model-navlink {
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.model-text64 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-halfunit);
}
@media(max-width: 991px) {
  .model-text23 {
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .model-hero {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
