.survey-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}

.survey-housetypes .button,
.survey-choicerooms .button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #4CAF50;
  cursor: pointer;
  background-color: white;
  color: #4CAF50;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 200px;
  text-align: left; /* Align text left for better readability */
}

.survey-housetypes .button:hover,
.survey-choicerooms .button:hover {
  background-color: #4CAF50;
  color: white;
}

.survey-submit-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #4CAF50;
  color: #fff;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  margin-left: 70px;
}

.survey-submit-button:hover {
  background-color: white;
  color: white;
  border: 1px solid #45a049;
}

.selected {
  background-color: #4CAF50 !important;
  color: white !important; /* Ensure text is visible */
  border: 1px solid #4CAF50;
}

.survey-text10 {
  width: var(--dl-size-size-medium);
  display: inline-block;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;
}
.survey-text11 {
  width: var(--dl-size-size-medium);
  display: inline-block;
}
.survey-text12 {
  width: var(--dl-size-size-medium);
  display: inline-block;
}
.survey-text13 {
  width: var(--dl-size-size-medium);
  display: inline-block;
}
.survey-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.survey-text15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.survey-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.survey-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.survey-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.survey-text19 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.survey-text20 {
  display: inline-block;
}
.survey-logo-center {
  top: 25px;
  left: 53px;
  display: inline-block;
  position: absolute;
  align-self: flex-start;
  font-style: normal;
  font-family: "Jost";
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
}
.survey-text21 {
  letter-spacing: 1px;
}
.survey-text23 {
  color: var(--dl-color-gray-black);
  height: auto;
  display: inline-block;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.survey-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  margin-left: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.survey-instructions {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  align-items: stretch;
  margin-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.survey-text24 {
  align-self: center;
  margin-top: 0px;
  text-align: left;
  margin-bottom: 0px;
}
.survey-text25 {
  font-style: normal;
  font-weight: 700;
}
.survey-landscape {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.survey-placeholder {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  margin-left: 70px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.survey-textinput {
  fill: var(--dl-color-gray-black80);
  color: var(--dl-color-gray-black80);
}
.survey-type {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.survey-text38 {
  width: auto;
}
.survey-housetypes {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: 70px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.survey-button10 {
  width: 210px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.survey-button11 {
  width: 210px;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.survey-button12 {
  width: 210px;
  margin-top: var(--dl-space-space-halfunit);
  padding-top: 12px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-bottom: 12px;
}
.survey-button13 {
  width: 210px;
  margin-top: var(--dl-space-space-halfunit);
  padding-top: 12px;
  margin-bottom: var(--dl-space-space-halfunit);
  padding-bottom: 12px;
}
.survey-button14 {
  width: 210px;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.survey-button15 {
  width: 210px;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.survey-button16 {
  width: 210px;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.survey-button17 {
  width: 210px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.survey-rooms {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.survey-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.survey-text39 {
  width: auto;
}
.survey-choicerooms {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: 70px;
  flex-direction: column;
}
.survey-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.survey-button18 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.survey-button19 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.survey-button20 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.survey-button21 {
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.survey-text40 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.survey-text43 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-top: var(--dl-space-space-twounits);
}
.survey-text44 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-top: 12px;
}
.survey-text46 {
  color: var(--dl-color-gray-black50);
}
.survey-text49 {
  color: var(--dl-color-gray-black50);
}
.survey-text51 {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.survey-text52 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.survey-text53 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.survey-text54 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.survey-text55 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.survey-text56 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.survey-text57 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
}
.survey-text58 {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.survey-text59 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.survey-text60 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.survey-text61 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.survey-text62 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.survey-text63 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
}
.survey-text64 {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.survey-text65 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.survey-text66 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.survey-text67 {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}
.survey-navlink {
  color: var(--dl-color-gray-black50);
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: underline;
}
.survey-text68 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-halfunit);
}
@media(max-width: 991px) {
  .survey-text23 {
    margin-left: 0px;
  }
}
