.component-container1 {
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.component-container2 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 770px;
  box-sizing: border-box;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.component-navlink {
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: underline;
}
.component-text12 {
  color: var(--dl-color-gray-black80);
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  font-family: "Arial";
  font-weight: 400px;
  line-height: 175%;
  padding-top: var(--dl-space-space-halfunit);
  font-stretch: normal;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.component-text13 {
  font-style: normal;
  line-height: 150%;
}
.component-text14 {
  font-style: normal;
  line-height: 150%;
}
.component-text15 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: "Arial";
  line-height: 175%;
}
.component-text16 {
  font-style: normal;
  line-height: 150%;
}
.component-text17 {
  font-style: normal;
  line-height: 150%;
}
.component-text19 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: "Arial";
  line-height: 175%;
  letter-spacing: 1px;
}
.component-text20 {
  font-style: normal;
  line-height: 150%;
}
.component-text21 {
  font-style: normal;
  line-height: 150%;
}
.component-text22 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: "Arial";
  line-height: 175%;
}
.component-text23 {
  font-style: normal;
  line-height: 150%;
}
.component-text24 {
  font-style: normal;
  line-height: 150%;
}
.component-text25 {
  font-size: 24px;
  font-style: normal;
  font-family: "Jost";
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.component-text26 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: "Arial";
  line-height: 175%;
  letter-spacing: 1px;
}
.component-text27 {
  font-style: normal;
  line-height: 150%;
}
.component-text28 {
  font-style: normal;
  line-height: 150%;
}
.component-text29 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: "Arial";
  line-height: 175%;
}
.component-text30 {
  font-style: normal;
  line-height: 150%;
}
.component-text31 {
  font-style: normal;
  line-height: 150%;
}
.component-text32 {
  font-size: 24px;
  text-transform: uppercase;
}
.component-text33 {
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.component-text34 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: "Arial";
  line-height: 175%;
  letter-spacing: 1px;
}
.component-text35 {
  font-style: normal;
  line-height: 150%;
}
.component-text36 {
  font-style: normal;
  line-height: 150%;
}
.component-text37 {
  font-style: normal;
  line-height: 150%;
}
.component-text38 {
  font-style: normal;
  line-height: 150%;
}
.component-text39 {
  font-style: normal;
  line-height: 150%;
}
.component-text40 {
  font-style: normal;
  line-height: 150%;
}
.component-text41 {
  font-style: normal;
  line-height: 150%;
}
.component-text42 {
  font-style: normal;
  line-height: 150%;
}
.component-text43 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: "Arial";
  line-height: 175%;
}
.component-text44 {
  font-style: normal;
  line-height: 150%;
}
.component-text45 {
  font-style: normal;
  line-height: 150%;
}
.component-text46 {
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
}
.component-text47 {
  font-style: normal;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.component-text48 {
  font-size: 24px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.component-text49 {
  color: var(--dl-color-gray-black80);
  font-size: 16px;
  font-style: normal;
  font-family: "Arial";
  line-height: 175%;
}
.component-text50 {
  font-style: normal;
  line-height: 150%;
}
.component-text51 {
  font-style: normal;
  line-height: 150%;
}
.component-text52 {
  display: inline-block;
}
@media(max-width: 767px) {
  .component-text10 {
    max-width: 770px;
  }
  .component-text12 {
    max-width: 770px;
  }
}
