.navbar-navbar1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.navbar-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.navbar-navbar2 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.navbar-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.navbar-logo-center1 {
  text-decoration: none;
}
.navbar-middle1 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.navbar-right {
  top: -6px;
  left: -232px;
  display: flex;
  grid-gap: 45px;
  position: absolute;
  align-items: flex-start;
}
.navbar-navlink {
  width: var(--dl-size-size-medium);
  text-decoration: none;
}
.navbar-text10 {
  width: var(--dl-size-size-medium);
  text-decoration: none;
}
.navbar-text11 {
  width: var(--dl-size-size-medium);
}
.navbar-text12 {
  width: var(--dl-size-size-medium);
}
.navbar-login {
  display: flex;
}
.navbar-button {
  font-size: 18px;
  box-shadow: 5px 5px 10px 0px #7b7272;
  border-color: #021402;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: #5cd04f;
}
.navbar-burger-menu {
  display: none;
}
.navbar-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-logo-center2 {
  background-color: #51dc47;
}
.navbar-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-middle2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.navbar-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-text20 {
  color: var(--dl-color-gray-black);
  height: auto;
  display: inline-block;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.navbar-text21 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.navbar-text22 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.navbar-text23 {
  width: var(--dl-size-size-medium);
  display: inline-block;
}
.navbar-text24 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.navbar-text25 {
  width: var(--dl-size-size-medium);
  display: inline-block;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}
.navbar-text26 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.navbar-text27 {
  width: var(--dl-size-size-medium);
  display: inline-block;
}
.navbar-logo-center3 {
  top: 25px;
  left: 53px;
  display: inline-block;
  position: absolute;
  align-self: flex-start;
  font-style: normal;
  font-family: "Jost";
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
}
.navbar-text28 {
  letter-spacing: 1px;
}
.navbar-text30 {
  width: var(--dl-size-size-medium);
  display: inline-block;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}
.navbar-text31 {
  display: inline-block;
}
.navbar-text32 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.navbar-text33 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  display: inline-block;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}

.navbarroot-class-name1 {
  top: 0px;
  left: 0px;
  width: auto;
  position: static;
  align-self: stretch;
}
.navbarroot-class-name2 {
  align-self: flex-start;
}
.navbarroot-class-name3 {
  top: -12px;
  left: 0px;
}
@media(max-width: 991px) {
  .navbar-right {
    display: none;
  }
  .navbar-login {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
  }
  .navbar-icon10 {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .navbar-logo-center2 {
    margin-left: 0px;
  }
  .navbar-text20 {
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .navbar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar-header {
    padding: var(--dl-space-space-unit);
  }
  .navbar-mobile-menu {
    padding: 16px;
  }
}
