.section-heading-section-heading {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.section-heading-text {
  color: var(--dl-color-theme-neutral-dark);
  font-size: 28px;
  text-align: center;
  font-family: "Jost";
  font-weight: 500;
  line-height: 36px;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: underline;
}

